// フォントカラー（基本）
$main-color--b: #333333;
$main-color--w: #ffffff;
$main-color--gray: #ebebeb;
$main-color--beige: #b1a595;
$main-color--tel: #df2323;

// サイト独自のカラー(3色)
$site-color01: #9b2c2c;
$site-color02: #4392aa;
$site-color03: #0f548d;
$site-color01-hover: #792a2a;
$site-color02-hover: #246579;
$site-color03-hover: #024c63;


// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// お問い合わせ
$contact-item-1: #002a37;
$contact-item-2: hsl(194, 100%, 11%, 80%);
$contact-item-3: hsl(194, 100%, 11%, 60%);
$contact-item-4: hsl(194, 100%, 11%, 40%);


// ホバー関係
$nav-hover-bg: #41606a;
$nav-active-bg: #002a37;