
// font-family
$f-mincho: shippori-mincho, sans-serif;// 明朝
$f-gothic: source-han-sans-japanese, sans-serif;// ゴシック
$f-01: garamond-premier-pro, serif;// Garamond Premier Pro
$f-02: acumin-pro, sans-serif;

// font-weight
$f-n: normal;
$f-b: bold;

// 基本テキスト
h1,h2,h3,h4,h5,h6,p,a,span{
	color: $main-color--b;
	font-family: $f-mincho;
	font-weight: $f-n;
    font-style: normal;
	text-align: center;
	line-height: 1.3;
    
    // ボーダー
    &.b-text{
        display: inline;
        text-decoration: underline;
    }

    // 位置
    &.-right{text-align: right;}
    &.-left{text-align: left;}
    &.-center{text-align: center;}

    // 行間
	&.lh-1{line-height: 1;}
	&.lh-1_5{line-height: 1.5;}

    // 太さ
    &.-b{font-weight: $f-b;}

    // フォントファミリー
    &.-f-gothic{
        font-family: $f-gothic;
    }
    &.-f-gara{
        font-family: $f-01;
        font-style: italic;
    }
    &.-f-acumin{
        font-family: $f-02;
        font-weight: bold;
        font-style: italic;
    }
    // 色
    &.-color01{color: $site-color01;}

}

// 大きさ
p,a,span{
        &.s-SS{font-size: 10px;}
        &.s-S{
            font-size: 12px;
            @include min(768){
                font-size: clamp(12px, 1vw, 16px);
            }
        }
        &.s-M{
            font-size: 14px;
            @include min(768){
                font-size: clamp(12px, 1.2vw, 20px);
            }
        }
        &.s-L{
            font-size: 16px;
            @include min(768){
                font-size: clamp(16px, 1.8vw, 24px);
            }
            &.-s14{
                @include max(768){
                    font-size: 14px;
                }
            }
        }
        &.s-LL{
            font-size: 18px;
            @include min(768){
                font-size: clamp(10px, 2.5vw, 28px);
            }
        }
        &.s-3L{

        }
        &.s-mugen{
            font-size: 24px;
            transform: scale(5);
            @include min(768){
                font-size: clamp(16px, 2.8vw, 53px);
                transform: scale(5);
            }
        }
        &.s-number{
            font-size: 16px;
            @include min(768){
                font-size: clamp(16px, 2.8vw, 53px);
            }
        }
}


// ナビゲーション
p, span, a {
    &.concept,
    &.plan,
    &.Grallery,
    &.Location,
    &.Information{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
        }
        &::after{
            position: absolute;
            bottom: 11%;
            font-size: 10px;
            font-family: $f-mincho;
            font-style: normal;
            @include min(768){
                font-size: 14px;
                bottom: 0%;
            }
            @include min(1000){
                bottom: 11%;
            }
        }
    }
    // 位置
    &.concept,
    &.plan,
    &.Grallery,
    &.Location{
        &::before{ left: 0; }
        &::after {
            @include max(400){
                bottom: -60%;
            }
            @include max(768){
                left: 0%;
            }
            @include min(768){
                left: 30%;
            }
            @include min(1000){
                left: 30%;
            }
            @include min(1400){
                left: 42%;
            }
        }
    }
    &.Information{
        &::after{
            @include max(400){
                bottom: -60%;
            }
            @include max(768){
                left: 0%;
            }
            @include min(768){
                left: 41%;
            }
            @include min(1000){
                left: 41%;
            }
            @include min(1400){
                left: 50%;
            }
        }
    }

    // ボーダー&テキスト
    &.concept{
        &::before{
            @include min(768){
                background: $house-color01;
                width: 60%;
            }
            @include min(1000){
                width: 54%;
            }
            @include min(1400){
                width: 66%;
            }
            @include min(1600){
                width: 67%;
            }
        }
        &::after{ content: "コンセプト"; }
    }
    &.plan{
        &::before{
            @include min(768){
                left: 0;
                background: $house-color02;
                width: 50%;
            }
            @include min(1000){
                width: 45%;
            }
            @include min(1400){
                width: 57%;
            }
            @include min(1600){
                width: 58%;
            }
        }
        &::after{ content: "プラン"; }
    }
    &.Grallery{
        &::before{
            @include min(768){
                left: 0;
                background: $house-color03;
                width: 61%;
            }
            @include min(1000){
                width: 54%;
            }
            @include min(1400){
                width: 66%;
            }
            @include min(1600){
                width: 67%;
            }
        }
        &::after{ content: "ギャラリー"; }
    }
    &.Location{
        &::before{
            @include min(768){
                left: 0;
                background: $house-color04;
                width: 66%;
            }
            @include min(1000){
                width: 58%;
            }
            @include min(1400){
                width: 72%;
            }
            @include min(1600){
                width: 73%;
            }
        }
        &::after{ content: "ロケーション"; }
    }
    &.Information{
        &::before{
            @include min(768){
                left: 0;
                background: $main-color--b;
                width: 96%;
            }
            @include min(1000){
                width: 83%;
            }
            @include min(1400){
                width: 94%;
            }
            @include min(1600){
                width: 95%;
            }
        }
        &::after{ content: "インフォメーション"; }
    }
}