@keyframes bg-color-bg {
    0% { background-color: #a356af; }
    15% { background-color: #7481cd; }
    30% { background-color: #d22c91; }
    45% { background-color: #a356af; }
    60% { background-color: #7481cd; }
    75% { background-color: #4ca5e6; }
    85% { background-color: #7481cd; }
    100% { background-color: #a356af; }
}
@keyframes bg-color-text {
    0% { color: #a356af; }
    15% { color: #7481cd; }
    30% { color: #d22c91; }
    45% { color: #a356af; }
    60% { color: #7481cd; }
    75% { color: #4ca5e6; }
    85% { color: #7481cd; }
    100% { color: #a356af; }
}

.bg-color{
    &-bg{ animation: bg-color-bg 5s infinite;}
    &-text{ animation: bg-color-text 5s infinite;}
}


@keyframes mugen-bg {
    0% {
        // transform: translateX(25%);
        transform:rotate(0deg);
    }
    50% {
        // transform: translate(75%);
        transform:rotate(180deg);

    }
    100% {
        transform: rotate(360deg);
    }
}

.mugen-bg-move{
    // &::after{
        animation: mugen-bg 10s infinite;
    // }
}