
@keyframes fadeAnime{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDownAnime{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeftAnime{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRightAnime{
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.a{
    &-fadeUp{
        animation-name:fadeUpAnime;
        animation-duration:0.5s;
        animation-timeline: view();
        animation-range: entry -20% contain 40%;
        &.-item01{
            animation-range: entry -60% contain 0%;
        }
        &.-item02{
            animation-range: entry -40% contain 20%;
        }
        &.-item03{
            animation-range: entry -20% contain 40%;
        }
        &.-item04{
            animation-range: entry 00% contain 60%;
        }
        &_f{
            animation-name:fadeUpAnime;
            // animation-fill-mode:forwards;
            perspective-origin: left center;
            animation-duration:2s;
        }
    }
    &-fadeDown{
        animation-name:fadeDownAnime;
        animation-duration:0.5s;
        animation-timeline: view();
        animation-range: entry -20% contain 40%;
        &_f{
            animation-name:fadeDownAnime;
            // animation-fill-mode:forwards;
            perspective-origin: left center;
            animation-duration:1.5s;
        }

    }
    &-fadeRight{
        animation-name:fadeRightAnime;
        animation-duration:0.5s;
        animation-timeline: view();
        animation-range: entry -20% contain 40%;
        &_f{
            animation-name:fadeRightAnime;
            // animation-fill-mode:forwards;
            perspective-origin: left center;
            animation-duration:1s;
        }
    }
    &-fadeLeft{
        animation-name:fadeLeftAnime;
        animation-duration:0.5s;
        animation-timeline: view();
        animation-range: entry -20% contain 40%;
        &_f{
            animation-name:fadeLeftAnime;
            perspective-origin: left center;
            animation-duration:1.5s;
        }
    }
}