@keyframes moveImgX{
    0% {
        transform: translateX(25%);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(75%);
        transform: scale(1.2);
        opacity: .85;
    }
}

.a-moveImg{
    .imgBox{
        overflow: hidden;
        transition: 3s all;
    }
    &:hover{
        // background: $main-color--b;
        transition: 1s all;
        .imgBox{
            background: black;
            img{
                animation-name: moveImgX;
                animation-fill-mode:forwards;
                animation-duration:3s;
            }
        }
    }

}