// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	position: relative;
	.imgBox{
		&.-sp{
			@include max(768){
				width: 100vw;
				height: 710px;
			}
		}
	}
	&.-f-view{// ファーストビュー
		.c-contentsBox{// 背景要素内 > 設置場所
			// 背景
			&.-f-gallery{
				// *padding:0 15px;/*ギャラリー左右に余白をつける*/
				@include min(768){
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					columns: 5;/*段組みの数*/
				}
				&._row01{
					@include max(768){
						position: absolute;
						top: 3%;
						left: 50%;
						transform: translateX(-50%);
						width: 100%;
						columns: 3;/*段組みの数*/
					}
				}
				&._row02{
					@include max(768){
						position: absolute;
						top: auto;
						bottom: 10%;
						left: 50%;
						transform: translateX(-50%);
						width: 100%;
						columns: 2;/*段組みの数*/
					}
				}
			}
			// 要素
			.galleryItem{
				margin-bottom: 20px;/*各画像下に余白をつける*/
				img{
					width:100%;
					height:auto;
					vertical-align: bottom;/*画像の下にできる余白を削除*/
				}
				a{
					&:hover,
					&:active{
						text-decoration: none;
					}
				}
			}
			// タイトル
			&.-f-title{
				position: absolute;
				top: 36%;
				left: 8%;
				width: 82%;
				@include min(768){
					top: 70%;
					left: 10%;
					width: 40%;
				}
			}
			// サブタイトル
			&.-f-subtitle{
				position: absolute;

				@include min(768){
					top: 2%;
					left: 64%;
					width: 26%;
				}
			}
			// description
			&.-f-des{
				position: absolute;
				top: 41.5%;
				left: 14%;
				width: 69%;
				@include min(768){
					top: 80%;
					left: 13.1%;
					width: 30%;
				}
			}
			&.-f-item{// 表示要素の横幅を設定
				@include min(768){
					width: 100% / 5;
					height: auto;
				}
				// オリジナルの設定
				&.-f-item01{

				}
				&.-f-item02{

				}
				&.-f-item03{

				}
				&.-f-item04{

				}
				&.-f-item05{

				}
			}

						// ロゴ
						&.-r-logo{
							position: absolute;
							@include min(768){
								top: 5%;
								left: 75%;
								width: 20%;
							}
						}
						// タイトル
						&.-r-title{
							position: absolute;
							@include min(768){
								top: 49%;
								left: 67%;
								width: 24%;
							}
						}
		}
	}
	&.-slider{//カルーセル

	}
	&.-imgBg{//背景画像
		.c-contentsBox{//背景要素内 > 設置場所
			position: absolute;
			&.-center{ // 基本
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
			&.-number{
				top: 0%;
				left: 15%;
				transform: translate(-50%, -50%);
				width: 25%;
				filter: drop-shadow(2px 2px 2px gray);
			}
			// リサーチページ
			&.-cross{
				width: 8%;
				@include min(768){
					width: 10%;
				}
				&.-item01{
					@include max(768){
						top: 22%;
					}
				}
				&.-item02{
					@include max(768){
						top: 78.5%;
					}
				}
			}

			// 間取り > 号棟
			&.-m-goutou{
				top: 6%;
				left: 14%;
				transform: translate(-50%, -50%);
				width: auto;
				@include min(768){
					top: 1%;
					left: 3.4%;
				}
			}
			// 間取り > des
			&.-m-des{
				top: 18%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 89%;
				@include min(768){
					top: 25%;
					left: 17.3%;
					width: auto;
				}
			}
		}

		// 無限コンテンツ
		&.-mugenArea{
			width: 20%;
			margin: auto;
			overflow: hidden;

			.c-contentsBox{
				width: 102%;
			}
		}
	}

	&.w1100{
		@include min(768){
			width: 80%;
			max-width: 1100px;
			margin: auto;
		}
		@include min(1600){
			width: 65%;
			// width: 57.4%;
		}
	}
	&.w95s{
		@include max(768){
			width: 95%;
			margin: auto;
		}
	}
	&.w90s{
		@include max(768){
			width: 90%;
			margin: auto;
		}
	}
	&.w85s{
		@include max(768){
			width: 85%;
			margin: auto;
		}
	}
	&.w80s{
		@include max(768){
			width: 80%;
			margin: auto;
		}
	}
}

	// ロゴ関係
	.logoArea{
		margin: auto;
		width: 20%;
		@include min(768){
			width: 10%;
		}
		@include min(1600){
			width: 12%;
		}
		&.-c-In{
			width: auto;
			margin-left: 0;
			img{
				width: 7%;
				@include min(768){
					width: 10%;
				}
			}
		}
		&.-mugen{
			@include min(768){
				width: 10%;
			}
			@include min(1600){
				width: 13%;
			}
		}
	}
	// タイトル関係
	.titleArea{
			&.-Concept,
			&.-Planning,
			&.-Location{
				img{
					width: 33%;
					@include min(768){
						width: 33%;
					}
				}
			}
			&.-ForExample{
				img{
					width: 43%;
					@include min(768){
						width: 33%;
					}
				}
			}
			&.-PrivateSkyTerrace{
				img{
					width: 68%;
					@include min(768){
						width: 53%;
					}
				}
			}
			&.-MakefullGallery{
				img{
					width: 55%;
					@include min(768){
						width: 53%;
					}
				}
			}
			&.-LifeInformation{
				img{
					width: 55%;
					@include min(768){
						width: 30%;
					}
				}
			}
		}
	// スペル
	.spell{
		width: 33%;
		@include min(768){
			width: 33%;
		}
	}
	// リサーチページ > 住宅地視察
	// .sec-imgBox{
	// 	position: relative;
	// 	width: 100%;
	// 	height: 100%;
	// 	img{
	// 		position: absolute;
	// 	}
	// }