// フレックス
.c-flex{
	display: flex;
	flex-wrap: wrap;
	@include min(768){
		flex-wrap: nowrap;
	}
	// 反転
	&.-reverse{
		@include min(768){
			flex-direction: row-reverse;
		}
	}
	&.-p01{
		justify-content: space-between;
		li{
			width: 100%;
			@include min(768){
				width: 49%;
			}
		}
	}


}