// フレックス
.c-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include min(768){
		flex-wrap: nowrap;
	}
	li{
		width: 100%;
		@include min(768){
			width: 48%;
		}
	}
	// 反転
	&.-reverse{
		@include min(768){
			flex-direction: row-reverse;
		}
	}
	&.-p01{
		justify-content: space-between;
		li{
			width: 100%;
			@include min(768){
				&:nth-child(1){
					width: 45%;
					padding-right: 5%;
				}
				&:nth-child(2){
					width: 55%;
				}
			}
		}
		&.-reverse{
			li{
				@include min(768){
					&:nth-child(1){
						padding-left: 5%;
						padding-right: 0;
					}
				}
			}
		}
	}
	&.-p02{
		justify-content: space-between;
		li{
			@include max(768){
				width: 100%;
				&:nth-child(2){
					position: relative;
					width: 80%;
					margin-right: 0;
					margin-left: auto;
					// filter: drop-shadow(5px 5px 2px $main-color--beige);
					&::before{
						// content: "";
						// position: absolute;
						// top: 5px;
						// left: 5px;
						// width: 100%;
						// height: 100%;
						// background: $main-color--beige;
					}
				}
			}
			@include min(768){
				width: 60%;
				&:nth-child(2){
					width: 40%;
				}
			}
		}
	}

	&.-column4{
		flex-wrap: wrap !important;
		justify-content: start;
		li{
			position: relative;
			@include max(768){
				width: calc(50% - 5px);
				&:nth-child(odd){
					margin-right: 5px;
				}
				&:nth-child(even){
					margin-left: 5px;

				}
			}
			@include min(768){
				width: calc(33.3333% - 20px);
				margin: 10px;
			}
			@include min(1200){
				width: calc(25% - 20px);
				margin: 10px;
			}

			.caution-text{
				position: absolute;
				bottom: 0;
				left: 0;
				color: $main-color--Dgray;
			}
		}
	}
}