// リンク関係（aタグ）

.c-link{
	&.-contact{
		display: block;
		width: auto;
		height: auto;
		box-shadow: 4px 4px 11px #00000030;
		transition: all 0.5s;
		.c-contents{
			overflow: hidden;
			.imgBox{transition: all 0.5s;}
		}
		img{
		}
		&:hover{
			transform: scale(1.05);
			.c-contents{
				.imgBox{transform: scale(1.05);}
			}
		}
	}
	&.-img{
		display: block;
        transform: scale(1);
        transition-duration: 0.5s;
		transition: all 0.5s ease-in-out;
        overflow: hidden;
		&:hover{
			transform: scale(1.025);
			transition-duration: 0.2s;
			// box-shadow: 1px 1px 4px 0px $item-hover--bg;
		}
	}
}